<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.vanjor.cevrideshare">
    <!--
         The ACCESS_COARSE/FINE_LOCATION permissions are not required to use
         Google Maps Android API v2, but you must specify either coarse or fine
         location permissions for the "MyLocation" functionality.
    -->
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.AEVRideSharing"
        android:usesCleartextTraffic="true">
        <activity
            android:name="com.vanjor.cevrideshare.SignUpActivity"
            android:windowSoftInputMode="adjustPan"
            android:exported="false" />
        <activity
            android:name="com.vanjor.cevrideshare.LoginActivity"
            android:windowSoftInputMode="adjustPan"
            android:exported="false" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="${MAPS_API_KEY}" />

        <activity
            android:name="com.vanjor.cevrideshare.MapsActivity"
            android:exported="false"
            android:label="@string/title_activity_maps"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name="com.vanjor.cevrideshare.MainActivity"
            android:exported="false" />
        <activity
            android:name="com.vanjor.cevrideshare.WelcomeActivity"
            android:exported="false" />
        <activity
            android:name="com.vanjor.cevrideshare.SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>